h1 {
    color: pink
}

body {
    width: 75%;
    margin: auto;
}

@media (orientation: portrait) {
    body {
        width: 100%;
        font-size: 2em;
    }
}

#byline {
    font-family: 'sans-serif',

}

div {
    border: solid 1px gray;
}

/* for phones *? 
@media(orientation: portrait) {
    body {
        width: 100%;
        font-size: 2em;
    }
}
    <!---This is how you style your text such as color and orient it to a phone--->